.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  border-radius: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}
#inputimage {
  width: auto;
  max-height: 50vh;
  border-radius: 30px;
  max-width: 45vw;
}
.some {
  overflow: hidden;
  max-height: 60vh;
  margin-left: 10%;
}
