@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;500&display=swap');
body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
  color:#fff;
    background: linear-gradient(89deg, #00b4db 0%, #0083b0 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  cursor: pointer;
}
